/*app.css*/

@import "tailwindcss";



@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-primary{
 background-color:#1f4b8e
    }
    .dark   .bg-primary{
 background-color:#102a52
    }
    
  .bg-secondary {
    background-color: #182430; /* Ou la couleur de votre choix */
  }
  
  /* Optionnel : si vous voulez aussi une version dark */
  .dark .bg-secondary {
      background-color: #060C11; /* Mettez ici la couleur dark pour secondary */
  }
}


/* === Ton style custom === */
.custom-scrollbar {
  scrollbar-width: thin;              /* pour Firefox */
  scrollbar-color: #888 transparent;  /* pour Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Variante dark mode */
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #666;
}


